body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dayGrid
{
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around; 
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  margin: 2px;
  padding: 5px;
  /* grid-column-start: 1;
  grid-column-start: 7; */
  column-count: 7;
  border-radius: 5px;
  font-family: 'Special Elite';
}

.dayKeys
{
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  background-color: white;
  padding: 5px;
  margin: 2px;
  font-family: 'Special Elite';
  position: static;
}
.dayKeys:hover
{
  background-color: maroon;
  color: white
}

.monthTitle
{
  font-family: 'Special Elite';
}
.dateTitle
{
  font-family: 'Special Elite';
}
/* .background
{
  
} */

.dateBtn
{
  font-family: 'Special Elite';
}
.backForward
{
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.back
{
  outline-style: solid;
  outline-width: 2px;
  margin-right: 8px;
  border-radius: 5px;
}
.forward
{
  font-family: 'Special Elite';
  outline-style: solid;
  outline-width: 2px;
  margin-left: 40rem;
  margin-right: 40rem;
  border-radius: 5px;
}
.forward:hover
{
  background-color: black;
  color: white;
}

.selectedDayBox
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Special Elite';
  margin-top: 1rem;
}
.arrow
{
  color: red;
}

.agBtn
{
  background-color: transparent;
  border-color: transparent;
  font-family: 'Special Elite';
}
.agBtn:hover
{
  border-color: black;
  border-radius: 5px;

}

.newAgenda
{
 margin-left: 1rem;
 position: absolute;
 display: inline-table;
 font-family: 'Special Elite';
}
.newAg
{
  font-family: 'Special Elite';
  text-align: center;
}

.create
{
  display: grid;
  justify-content: center;
}

.saveTask
{
  font-family: 'Special Elite';

}
.saveTask:hover
{
  
  background-color: red;
  border-radius: 5px;
}

#sev
{
  padding: .2rem;
  margin-top: .25rem;
  background-image: linear-gradient(to right, white,gray,black);
}
.sevBar
{
  color: black
}
.navi
{
  font-family: 'Special Elite';
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: grid;
  justify-content: left;
  margin: 1rem;
  background-color: aqua;
}
.profile
{
  max-width: 3rem;
  background-color: white;
  outline-style: solid;
  outline-color: black;
  border-radius: 5px;
  margin: .25rem;
}

.warning
{
  background-color: maroon;
  color: white;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 10px;
  transition: 300ms ease-in;
}